.login-content
	-if form.errors
		%p The username and password you entered are incorrect. Please try again.

	%form{'action' : "{% url budget:login %}", 'method' : 'post' }
		-csrf_token
		
		%table
			%tr
				%td
					= form.username.label_tag
				%td
					= form.username
			%tr
				%td
					= form.password.label_tag
				%td
					= form.password
		
		%input{type : "submit", value : "login" }
		%input{type : "hidden", name : "next", value : "={ next }" }
